.h1 {
  text-align: center;
}
a {
  text-decoration: none;
}
/* table */
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}
thead {
  background-color: cadetblue;
}
tbody tr:hover {
  background-color: rgb(201, 233, 233);
}
tbody tr td:first-child {
  font-weight: bold;
}
